.subheader--moved {
	margin-left: 45px;
}

.taskList__item {
	list-style-type: none;
	background-color: #cfe2f3;
	margin: 5px;
	width: 180px;
	height: 55px;
	border: 1px solid black;
	border-radius: 5px;
	overflow: hidden;
	padding: 3px 5px;
	line-height: 17px;
}

label {
	font-weight: 500;
}

#controlPanel__index {
	width: 60px;
}

.mistake {
	color: red;
}